@charset "utf-8";
@use "../common/functions" as *;
@use "../common/variables" as *;
@use "../common/mixins" as *;

.about {
    .about__inner {
        display: flex;
        gap: vw(70);
        padding: 0 vw(97) vw(134) 0;

        .about__img-block {
            width: vw(760);
            height: vw(400);
            .about__img {
                width: vw(760);
                height: vw(400);
                object-fit: cover;
            }
        }
        .about__detail-block {
            width: vw(640);
            padding-top: vw(200);
            .about__header {
                margin-bottom: vw(53);
          
                .about__title {
                  font-size: vw(36);
                  letter-spacing: vw(10.8);
                  margin-bottom: vw(21);
                }
          
                .about__subtitle {
                  font-size: vw(14);
                  margin-bottom: vw(40);
                }
          
                .about__border {
                  width: vw(40);
                  border-top: 1px solid black;
                }
            }
            .about__text {
                font-size: vw(14);
            }
        }
    }
}