@charset "utf-8";
@use "../common/functions" as *;
@use "../common/variables" as *;
@use "../common/mixins" as *;

.business {
    .business__inner {
        padding: 0 vw(300) vw(120) vw(200);

        .business__header {
            margin-bottom: vw(53);
      
            .business__title {
              font-size: vw(36);
              letter-spacing: vw(10.8);
              margin-bottom: vw(21);
            }
      
            .business__subtitle {
              font-size: vw(14);
              margin-bottom: vw(40);
            }
      
            .business__border {
              width: vw(40);
              border-top: 1px solid black;
              display: block; 
            }
        }
        .business__list {
            display: flex;
            justify-content: center;
            gap: vw(64);

            .business__items {
                display: flex;
                flex-direction: column;
                gap: vw(64);
                .business__item {
                    .item-title {
                        font-size: vw(14);
                        margin-bottom: vw(13);
                        padding-left: vw(18);
                        position: relative;
                    }
                    .item-title::before {
                        content: '';
                        display: block;
                        width: vw(7); 
                        height: 1px; 
                        background-color: black; 
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                    }
                    .item-img {
                        width: vw(368);
                        height: vw(232);
                        object-fit: cover;
                    }
                }
            }
            .paddding__top-100 {
                padding-top: vw(100);
            }
        }
    }
}