@charset "utf-8";
@use "../common/functions" as *;
@use "../common/variables" as *;
@use "../common/mixins" as *;

.company {
    .company__inner {
        padding: 0  vw(200) vw(110) vw(200);

        .company__detail-block {
            display: flex;
            .company__detail {
                width: vw(567);
                height: vw(640);
                background-color: white;
                padding: vw(110) vw(143) vw(104) vw(62);
                .company__header {
                    margin-bottom: vw(53);
              
                    .company__title {
                      font-size: vw(36);
                      letter-spacing: vw(10.8);
                      margin-bottom: vw(21);
                    }
              
                    .company__subtitle {
                      font-size: vw(14);
                      margin-bottom: vw(40);
                    }
              
                    .company__border {
                      width: vw(40);
                      border-top: 1px solid black;
                      display: block; 
                    }
                }
                .company__detail-list {
                    .detail-item {
                        display: flex;
                        gap: vw(29);
                        .item-title {
                            width: vw(56);
                            .title {
                                font-size: vw(14);
                            }
                        }
                        .item-text {
                            width: vw(277);
                            .text {
                                font-size: vw(14);
                            }
                        }

                    }
                }
            }
            .company__img-block {
                width: vw(547);
                height: vw(640);

                .company__img {
                    margin-top: vw(115);
                    margin-left: -114px;
                    width: vw(547);
                    height: vw(400);
                    object-fit: cover;
                }
            }
        }


        

    }
}