@charset "utf-8";
@use "../common/functions" as *;
@use "../common/variables" as *;
@use "../common/mixins" as *;

.footer {
    height: vw(209);
    background-color: white;
    .footer__inner {
        padding: vw(44) vw(219) vw(22) vw(200);

        .footer__main {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .footer__logo {
                .logo {
                    width: vw(100.39);
                }
            }
            .footer__adress {
                .adress {
                    font-size: vw(14);
                }
            }
        }
        .footer__copyright {
            .copyright {
                font-size: vw(12);
            }
        } 
    }
}