@charset "utf-8";
@use "../common/functions" as *;
@use "../common/variables" as *;
@use "../common/mixins" as *;

.header {
  height: vw(80);
  @include sp {
    height: vw_sp(80);
  }
  .header__inner {
    padding-left: vw(91);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include sp {
      padding-left: vw_sp(16);
      padding-top: vw_sp(16);
      padding-bottom: vw_sp(18);
    }
    .header__main {
      display: flex;
      gap: vw(59.61);
      @include sp {
        display: block;
      }
      .header__main-link {
        .header__logo {
          display: flex;
          align-items: center;
          @include sp {
            margin-bottom: vw_sp(11.52);
          }
          .header__logo-img {
            width: vw(100.39);
            height: vw(25.68);

            @include sp {
              width: vw_sp(80.05);
              height: vw_sp(20.48);
            }
          }
        }
      }
      .header__nav {
        .header__nav-list {
          display: flex;
          gap: vw(30);
          @include sp {
            gap: vw_sp(30);
          }
          .list-item {
            font-size: vw(14);
            @include sp {
              font-size: vw_sp(14);
            }
          }
        }
      }
    }
    .header__contact {
      height: vw(80);
      width: vw(200);
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      @include sp {
        display: none;
      }
      .header__contact-link {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .link {
          color: white;
          font-size: vw(12);
        }
      }
    }
  }
}

