@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3 */
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  margin: 0;
  overflow: visible; /* 2 */
  clear: both;
  color: inherit;
  border-top-width: 1px;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-transform: inherit; /* 2 */
  vertical-align: middle;
  /* 1 */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border-radius: 0;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  font: inherit; /* 2 */
  -webkit-appearance: button;
          appearance: button; /* 1 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-collapse: collapse;
  border-color: inherit; /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  padding: 0;
  vertical-align: top;
}

th {
  font-weight: bold;
  text-align: left;
}

@media screen and (max-width: 768px) {
  [data-only-show=pc] {
    display: none !important;
  }
}

@media not all and (max-width: 768px) {
  [data-only-show=sp] {
    display: none !important;
  }
}

html {
  font-size: 1.6667vw;
}

body {
  font-family: "Meiryo, Regular";
  font-size: 1.1428571429vw;
  line-height: 1.8;
  letter-spacing: 0;
  background-color: #F0F0F0;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 3.4666666667vw;
  }
}

img {
  width: 100%;
  height: auto;
}

svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.header {
  height: 5.7142857143vw;
}
@media screen and (max-width: 768px) {
  .header {
    height: 21.3333333333vw;
  }
}
.header .header__inner {
  padding-left: 6.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header .header__inner {
    padding-left: 4.2666666667vw;
    padding-top: 4.2666666667vw;
    padding-bottom: 4.8vw;
  }
}
.header .header__inner .header__main {
  display: flex;
  gap: 4.2578571429vw;
}
@media screen and (max-width: 768px) {
  .header .header__inner .header__main {
    display: block;
  }
}
.header .header__inner .header__main .header__main-link .header__logo {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header .header__inner .header__main .header__main-link .header__logo {
    margin-bottom: 3.072vw;
  }
}
.header .header__inner .header__main .header__main-link .header__logo .header__logo-img {
  width: 7.1707142857vw;
  height: 1.8342857143vw;
}
@media screen and (max-width: 768px) {
  .header .header__inner .header__main .header__main-link .header__logo .header__logo-img {
    width: 21.3466666667vw;
    height: 5.4613333333vw;
  }
}
.header .header__inner .header__main .header__nav .header__nav-list {
  display: flex;
  gap: 2.1428571429vw;
}
@media screen and (max-width: 768px) {
  .header .header__inner .header__main .header__nav .header__nav-list {
    gap: 8vw;
  }
}
.header .header__inner .header__main .header__nav .header__nav-list .list-item {
  font-size: 1vw;
}
@media screen and (max-width: 768px) {
  .header .header__inner .header__main .header__nav .header__nav-list .list-item {
    font-size: 3.7333333333vw;
  }
}
.header .header__inner .header__contact {
  height: 5.7142857143vw;
  width: 14.2857142857vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header .header__inner .header__contact {
    display: none;
  }
}
.header .header__inner .header__contact .link {
  color: white;
  font-size: 0.8571428571vw;
}

.mainvisual__img {
  height: 42.8571428571vw;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .mainvisual__img {
    width: 100vw;
    height: 160vw;
  }
}

.news .news__inner {
  padding: 9.2857142857vw 18.6428571429vw 9.5vw 14.2857142857vw;
}
@media screen and (max-width: 768px) {
  .news .news__inner {
    padding: 24vw 28.2666666667vw 25.3333333333vw 4.2666666667vw;
  }
}
.news .news__inner .news__header {
  margin-bottom: 3.7857142857vw;
}
@media screen and (max-width: 768px) {
  .news .news__inner .news__header {
    margin-bottom: 12.8vw;
  }
}
.news .news__inner .news__header .news__title {
  font-size: 2.5714285714vw;
  letter-spacing: 0.7714285714vw;
  margin-bottom: 1.5vw;
}
@media screen and (max-width: 768px) {
  .news .news__inner .news__header .news__title {
    font-size: 9.6vw;
    letter-spacing: 2.88vw;
    margin-bottom: 5.6vw;
  }
}
.news .news__inner .news__header .news__subtitle {
  font-size: 1vw;
  margin-bottom: 2.8571428571vw;
}
@media screen and (max-width: 768px) {
  .news .news__inner .news__header .news__subtitle {
    font-size: 3.7333333333vw;
    margin-bottom: 10.6666666667vw;
  }
}
.news .news__inner .news__header .news__border {
  width: 2.8571428571vw;
  border-top: 1px solid black;
}
@media screen and (max-width: 768px) {
  .news .news__inner .news__header .news__border {
    width: 10.6666666667vw;
  }
}
.news .news__inner .news__list {
  display: flex;
}
@media screen and (max-width: 768px) {
  .news .news__inner .news__list {
    display: block;
  }
}
.news .news__inner .news__list .news__item {
  border-left: 1px solid black;
  padding-left: 1.4285714286vw;
  padding-right: 5.7142857143vw;
}
@media screen and (max-width: 768px) {
  .news .news__inner .news__list .news__item {
    border: none;
  }
}
.news .news__inner .news__list .news__item .news__item-inner {
  width: 18.0714285714vw;
}
@media screen and (max-width: 768px) {
  .news .news__inner .news__list .news__item .news__item-inner {
    width: 67.4666666667vw;
    margin-bottom: 13.6vw;
  }
}
.news .news__inner .news__list .news__item .news__item-inner .news__item-meta {
  display: flex;
  align-items: center;
  gap: 1.8571428571vw;
  margin-bottom: 1.5714285714vw;
}
.news .news__inner .news__list .news__item .news__item-inner .news__item-meta .news__date {
  font-size: 1vw;
}
@media screen and (max-width: 768px) {
  .news .news__inner .news__list .news__item .news__item-inner .news__item-meta .news__date {
    font-size: 3.7333333333vw;
  }
}
.news .news__inner .news__list .news__item .news__item-inner .news__item-meta .news__category {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news .news__inner .news__list .news__item .news__item-inner .news__item-meta .news__category .category {
  color: white;
  font-size: 0.8571428571vw;
  padding: 0.3571428571vw 0.5vw 0.2142857143vw 0.5vw;
}
@media screen and (max-width: 768px) {
  .news .news__inner .news__list .news__item .news__item-inner .news__item-meta .news__category .category {
    font-size: 3.2vw;
  }
}
.news .news__inner .news__list .news__item .news__item-inner .news__item-text {
  font-size: 1.1428571429vw;
}
@media screen and (max-width: 768px) {
  .news .news__inner .news__list .news__item .news__item-inner .news__item-text {
    font-size: 4.2666666667vw;
  }
}
.news .news__inner .news__list .news__item .news__item-inner .news__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18.0714285714vw;
  height: 2.8571428571vw;
  background-color: black;
  margin-top: 1.4285714286vw;
}
.news .news__inner .news__list .news__item .news__item-inner .news__item-link .link {
  color: white;
  font-size: 0.8571428571vw;
}
.news .news__inner .news__list .border-none {
  border: none;
}

.about .about__inner {
  display: flex;
  gap: 5vw;
  padding: 0 6.9285714286vw 9.5714285714vw 0;
}
.about .about__inner .about__img-block {
  width: 54.2857142857vw;
  height: 28.5714285714vw;
}
.about .about__inner .about__img-block .about__img {
  width: 54.2857142857vw;
  height: 28.5714285714vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .about__inner .about__detail-block {
  width: 45.7142857143vw;
  padding-top: 14.2857142857vw;
}
.about .about__inner .about__detail-block .about__header {
  margin-bottom: 3.7857142857vw;
}
.about .about__inner .about__detail-block .about__header .about__title {
  font-size: 2.5714285714vw;
  letter-spacing: 0.7714285714vw;
  margin-bottom: 1.5vw;
}
.about .about__inner .about__detail-block .about__header .about__subtitle {
  font-size: 1vw;
  margin-bottom: 2.8571428571vw;
}
.about .about__inner .about__detail-block .about__header .about__border {
  width: 2.8571428571vw;
  border-top: 1px solid black;
}
.about .about__inner .about__detail-block .about__text {
  font-size: 1vw;
}

.business .business__inner {
  padding: 0 21.4285714286vw 8.5714285714vw 14.2857142857vw;
}
.business .business__inner .business__header {
  margin-bottom: 3.7857142857vw;
}
.business .business__inner .business__header .business__title {
  font-size: 2.5714285714vw;
  letter-spacing: 0.7714285714vw;
  margin-bottom: 1.5vw;
}
.business .business__inner .business__header .business__subtitle {
  font-size: 1vw;
  margin-bottom: 2.8571428571vw;
}
.business .business__inner .business__header .business__border {
  width: 2.8571428571vw;
  border-top: 1px solid black;
}
.business .business__inner .business__list {
  display: flex;
  justify-content: center;
  gap: 4.5714285714vw;
}
.business .business__inner .business__list .business__items {
  display: flex;
  flex-direction: column;
  gap: 4.5714285714vw;
}
.business .business__inner .business__list .business__items .business__item .item-title {
  font-size: 1vw;
  margin-bottom: 0.9285714286vw;
  padding-left: 1.2857142857vw;
  position: relative;
}
.business .business__inner .business__list .business__items .business__item .item-title::before {
  content: "";
  display: block;
  width: 0.5vw;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.business .business__inner .business__list .business__items .business__item .item-img {
  width: 26.2857142857vw;
  height: 16.5714285714vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.business .business__inner .business__list .paddding__top-100 {
  padding-top: 7.1428571429vw;
}

.footer {
  height: 14.9285714286vw;
  background-color: white;
}
.footer .footer__inner {
  padding: 3.1428571429vw 15.6428571429vw 1.5714285714vw 14.2857142857vw;
}
.footer .footer__inner .footer__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__inner .footer__main .footer__logo .logo {
  width: 7.1707142857vw;
}
.footer .footer__inner .footer__main .footer__adress .adress {
  font-size: 1vw;
}
.footer .footer__inner .footer__copyright .copyright {
  font-size: 0.8571428571vw;
}

.company .company__inner {
  padding: 0 0 7.8571428571vw 14.2857142857vw;
}
.company .company__inner .company__detail-block {
  display: flex;
  justify-content: space-between;
}
.company .company__inner .company__detail-block .company__detail {
  width: 40.5vw;
  height: 45.7142857143vw;
  background-color: white;
  padding: 7.8571428571vw 0 7.4285714286vw 4.4285714286vw;
}
.company .company__inner .company__detail-block .company__detail .company__header {
  margin-bottom: 3.7857142857vw;
}
.company .company__inner .company__detail-block .company__detail .company__header .company__title {
  font-size: 2.5714285714vw;
  letter-spacing: 0.7714285714vw;
  margin-bottom: 1.5vw;
}
.company .company__inner .company__detail-block .company__detail .company__header .company__subtitle {
  font-size: 1vw;
  margin-bottom: 2.8571428571vw;
}
.company .company__inner .company__detail-block .company__detail .company__header .company__border {
  width: 2.8571428571vw;
  border-top: 1px solid black;
}
.company .company__inner .company__detail-block .company__detail .company__detail-list .detail-item {
  display: flex;
  gap: 2.0714285714vw;
}
.company .company__inner .company__detail-block .company__detail .company__detail-list .detail-item .item-title {
  width: 4vw;
}
.company .company__inner .company__detail-block .company__detail .company__detail-list .detail-item .item-title .title {
  font-size: 1vw;
}
.company .company__inner .company__detail-block .company__detail .company__detail-list .detail-item .item-text {
  width: 19.7857142857vw;
}
.company .company__inner .company__detail-block .company__detail .company__detail-list .detail-item .item-text .text {
  font-size: 1vw;
}
.company .company__inner .company__detail-block .company__img-block {
  width: 39.0714285714vw;
  height: 45.7142857143vw;
  position: relative;
}
.company .company__inner .company__detail-block .company__img-block .company__ing {
  position: absolute;
  right: 14.2857142857vw;
  top: 8.2142857143vw;
  width: 39.0714285714vw;
  height: 28.5714285714vw;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */